body{
    font-family: 'SF Pro Display', sans-serif;
}
header{
    display: flex;
    background-color: #2f2a2d;
    justify-content: space-between;
    color: #fafafa;
    padding: 30px 80px;
}
button{
    outline: none;
}
.logo{

    text-transform: uppercase;
    font-weight: bold;
}
.btn-cart{
    background-color: #fafafa;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #2f2a2d;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.btn-cart:hover{
    background-color: transparent;
    border-color: #fafafa;
    color: #fafafa;
}
.btn-cart, .logo{
    align-self: center;
}
.products{
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: 1fr;
    padding: 40px 80px;
    justify-content: space-between;
}
p {
    margin: 0 0 5px 0;
}
.product-item{
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
}
img {
    max-width: 100%;
    height: auto
}
.desc {
    border: 1px solid #c0c0c040;
    padding: 15px
}
.buy-btn, .cartCount-btn {
    margin-top: 5px;
    background-color: #2f2a2d;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.buy-btn:hover, .cartCount-btn:hover {
    background-color: transparent;
    border-color: #2f2a2d;
    color: #2f2a2d;
}

.cartItem-count__wrap{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cartCount{
    line-height: 50px;
    font-size: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}

.modal-container{
    display: flex;
    justify-content: center;
    position: relative;
    left: 70%;
    top: 10%;
    width: 250px;
    overflow-y: scroll;
    height: 500px;
    background-color: #fff;
}

.modal_content {
    position: relative;
    padding: 10px;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%;
    z-index: 99999;
}
.close_modal_window {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
